<div id="<%= dom_id pin %>">
  <%= image_tag pin.pin_image.url, width: 300 %>

  <p>
    <strong>Title:</strong>
    <%= pin.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pin.description %>
  </p>

  <p>
    <strong>By</strong>
    <%= pin.user.email %>
  </p>

</div>
