<div id="<%= dom_id comment %>">
  <p>
    <strong>
      <%= comment.user.email %>
    </strong>
  </p>

  <p>
    <%= comment.body %>
  </p>
</div>

<% if can? :manage, comment %>
  <div>
    <%= link_to "Edit this comment", edit_admin_pin_comment_path(@pin, comment) %>
    <%= button_to "Destroy this comment", [:admin, @pin, comment], method: :delete %>
  </div>
<% end %>